#commandTable table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
width: 100%;
}
#commandTable th {
background: #BCEBDD;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
#commandTable th, #commandTable td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
#commandTable th:first-child, #commandTable td:first-child {
text-align: left;
}
#commandTable th:first-child {
border-top-left-radius: 10px;
}
#commandTable th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
#commandTable td {
padding: 10px 20px;
}
#commandTable tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
#commandTable tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
#commandTable tr td:last-child {
border-right: none;
}
#commandTable tr.ready {
  background: #98FB98;
}
#commandTable tr {
  background: #F08080;
}
#commandTable td.complete {
  background: #FFFFFF;
  color: green;
}

#commandTable td.fail {
  color: red;
}

td.commandCell {
  width: 700px;
  vertical-align: top;
}

td.resultCell {
   vertical-align: top;
}
